body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.App {
  box-sizing: border-box;
  max-width: 1000px;
  min-width: 500px;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.App > h1 {
  text-align: center;
  margin: 10px;
}
